<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
    <div class="post-card" th:fragment="posts" th:each="post : ${posts}">

        <div class="post-header">
            <h5 th:text="${post.getTitle()}">Title</h5>

            <a class="author"
               th:id="'author-' + ${post.getId()}"
               th:attr="hx-get=@{/api/v1/users/{id}/username(id=${post.getUserId()})}"
               hx-trigger="load"
               hx-target="this"
               hx-swap="innerHTML">
            </a>
        </div>

        <div class="post-body">
            <p th:text="${post.getBody()}">content</p>
        </div>

        <div th:attr="id='comment-section-' + ${post.getId()}" class="comments-section">
            <h5>Comments</h5>
            <div th:attr="hx-get=@{/api/v1/comments/posts/{id}(id=${post.getId()})}"
                 hx-trigger="load"
                 hx-target="this"
                 hx-swap="innerHTML">
            </div>
        </div>

        <div class="load-more-container"
             id="load-more-comments-container">
            <button id="load-more-comments-btn"
                    th:attr="hx-get=@{/api/v1/comments/posts/{id}(id=${post.getId()})},
                                         hx-target='#comment-section-' + ${post.getId()}"
                    hx-vals='{"page":1}'
                    hx-trigger="click"
                    hx-swap="beforeend"
                    data-page="1"
                    hx-on:click="let page = parseInt(this.dataset.page);
                                        this.setAttribute('hx-vals', JSON.stringify({page: page}));
                                        this.dataset.page = page + 1;">

                Load More
            </button>
        </div>
    </div>
</body>
</html>